<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NYC Taxi Tip Predictor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
</head>
<body>
    <header>
        🚖 <span>Pakistani Taxi Tip Predictor</span>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        Developed By Hamza Khan ❤️ using Flask & XGBoost (CPU/GPU Mode)
    </footer>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
